<br>
<h1 class="text-center display-1">About</h1>
<hr class="w-25 mx-auto"/>
<div class="container my-5">
    <div class="row">

<div class="col-md-6 col-sm-10 col-lg-6 col-xxl-6">
    <figure>
        <img class="img-fluid" src="https://thumbs.dreamstime.com/b/employee-company-providing-new-ideas-business-development-meeting-photo-copy-space-142501347.jpg" alt="about">
    </figure>
</div>

<div class="col-md-6 col-sm-10 col-lg-6 col-xxl-6">
    <h2 class="display-2">MySelf</h2>
    <p> My Name is Ashish Pal. I work at TCS as software Developer at location mumbai and i have one year of experience</p>
</div>

    </div>
</div>
