
<h1 class="text-center display-1">Gallery</h1>
<hr class="w-25 mx-auto"/>

<div class="container">

    <div class="row ">

        <div class="col-md-4 col-sm-8  col-lg-4 col-xxl-4">
            <figure>
                <img class="w-100" src="https://th.bing.com/th/id/OIP.uouxhw9Ol0x8ChLwUXxLMQHaE-?pid=ImgDet&w=422&h=284&rs=1" alt="gallery">
            </figure>
        </div>

        <div class="col-md-4 col-sm-8  col-lg-4 col-xxl-4">
            <figure>
                <img class="w-100" src="https://th.bing.com/th/id/OIP.uouxhw9Ol0x8ChLwUXxLMQHaE-?pid=ImgDet&w=422&h=284&rs=1" alt="gallery">
            </figure>
        </div>
        <div class="col-md-4 col-sm-8  col-lg-4 col-xxl-4">
            <figure>
                <img class="w-100" src="https://th.bing.com/th/id/OIP.uouxhw9Ol0x8ChLwUXxLMQHaE-?pid=ImgDet&w=422&h=284&rs=1" alt="gallery">
            </figure>
        </div>
        <div class="col-md-4 col-sm-8  col-lg-4 col-xxl-4">
            <figure>
                <img class="w-100" src="https://th.bing.com/th/id/OIP.uouxhw9Ol0x8ChLwUXxLMQHaE-?pid=ImgDet&w=422&h=284&rs=1" alt="gallery">
            </figure>
        </div>
        <div class="col-md-4 col-sm-8  col-lg-4 col-xxl-4">
            <figure>
                <img class="w-100" src="https://th.bing.com/th/id/OIP.uouxhw9Ol0x8ChLwUXxLMQHaE-?pid=ImgDet&w=422&h=284&rs=1" alt="gallery">
            </figure>
        </div>
        <div class="col-md-4 col-sm-8  col-lg-4 col-xxl-4">
            <figure>
                <img class="w-100" src="https://th.bing.com/th/id/OIP.uouxhw9Ol0x8ChLwUXxLMQHaE-?pid=ImgDet&w=422&h=284&rs=1" alt="gallery">
            </figure>
        </div>
    </div>
</div>
